@import "tailwindcss";

@theme {
  /* --*: initial; */
  --font-sans: "Inter", "sans-serif";

  --color-primary: #000;
  --color-stroke: rgba(0, 0, 0, 0.5);
  --color-surface: rgba(0, 0, 0, 0.05);
  --color-surface-hover: rgba(0, 0, 0, 0.02);
  --color-highlight: rgba(0, 0, 0, 0.1);
  --background: url(./assets/background-light.png);
}

.dark {
  --color-primary: #fff;
  --color-stroke: rgba(255, 255, 255, 0.5);
  --color-surface: rgba(255, 255, 255, 0.05);
  --color-surface-hover: rgba(255, 255, 255, 0.02);
  --color-highlight: rgba(255, 255, 255, 0.1);
  --background: url(./assets/background-dark.png);
}
